/*I know this is bad but this is the root color and dark mode color
selectors for all 4 tabs, I tried to put it in its own file but it didnt work
and I didnt want to spend too much time on it */
:root {
  --ion-background-color: #fff;
  --ion-text-color: #000;
  --ion-card-color: #eee;
  --hover-background-color: rgb(3, 121, 38);
  --hover-text-color: var(--ion-color-light);
}

/*  dark mode colors */
body.dark {
  --ion-background-color: #222;
  --ion-text-color: #fff;
  --ion-card-color: #333;
  --hover-background-color: rgb(3, 121, 38);
  --hover-text-color: var(--ion-color-light);
}

ion-item {
  --padding-start: 20px;
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);
}

ion-item:hover {
  --background: rgb(3, 121, 38);
  --color: var(--ion-color-light);
}

.headline-divider {
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}

.headline-link {
  padding-left: 15px;
  text-decoration: none;
  color: var(--ion-text-color);
}

.headlines {
  padding-bottom: 15px;
}

.headline-title {
  padding-top: 8px;
  color: var(--ion-text-color);
}

.headline-text {
  font-weight: bold;
  color: var(--ion-text-color);
}
.headline-card {
  background-color: var(--ion-card-color);
}
