.game-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team-image {
  width: 50px;
  height: 50px;
}

.team-name {
  flex: 1;
  text-align: center;
  color: var(--ion-text-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-weight: bold;
}

.vs {
  margin: 0 10px;
  color: var(--ion-text-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.schedule-card:hover {
  background-color: var(--hover-background-color);
  background-size: contain;
}

.start-time {
  display: block;
  text-align: center;
  margin-top: 10px;
}
.schedule-card {
  background-color: var(--ion-card-color);
}
.date-label {
  font-size: x-large;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.loading-team {
  width: 80%;
  margin: auto;
}
.schedule-title {
  text-align: left;
}
.game-select-schedule {
  text-align: end;
  width: 3rem;
}
.schedule-subtitle {
  font-size: 0.8rem;
  text-align: center;
  color: var(--ion-text-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
