.score-divider {
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}

.score-image {
  width: 50px;
  max-height: 50px;
}

.score-item {
  border-bottom: 1px solid #ccc;
  height: auto;
  min-height: 130px;
  display: flex;
  --ion-background-color: var(--ion-card-color);
}

.score-item:last-child {
  border-bottom: none;
}

.teamImage {
  margin-right: 10px;
}

.teamName {
  padding-bottom: 15px;
  padding-top: 17px;
}

.teamScore {
  margin-left: auto;
  padding-bottom: 15px;
  padding-top: 17px;
}
.score-title {
  padding-top: 8px;
  color: var(--ion-text-color);
}

.score-card {
  background-color: var(--ion-card-color);
}
.score-list {
  background-color: var(--ion-card-color);
}
.loading-title {
  width: 7rem;
  height: 1.5rem;
  margin-left: 1rem;
  margin-top: 10px;
}
.loading-img {
  width: 3rem;
  height: 3rem;
  margin-bottom: 1rem;
}
.loading-team-top {
  position: relative;
  top: -2rem;
  width: 10rem;
  height: 2rem;
}
.loading-team-bottom {
  position: relative;
  bottom: 0rem;
  width: 10rem;
  height: 2rem;
}
.loading-score {
  width: 2rem;
  height: 2rem;
  margin-bottom: 2.4rem;
}
