.watch-slides {
  margin-top: 0;
  padding-top: 0;
  align-items: flex-start;
}
.watch-slide {
  width: 21rem;
  height: 100% !important;
}
.alsowatch-slide {
  width: 15rem;
}

.content-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 0;
}

.image {
  width: 100%;
  height: auto;
  padding: 10px;
}

.small-image {
  width: 200px; /* Adjust the width as needed */
  height: 113px; /* Adjust the height as needed */
  padding-left: 10px; /* Adjust the padding as needed */
  padding-bottom: 0px;
}

.title,
.subtitle {
  text-decoration: none;
  text-align: left;
  margin-left: 10px; /* Adjust the margin as needed */
  color: var(--ion-text-color);
}

.watch-title {
  padding-top: 8px;
  color: var(--ion-text-color);
}
.username-overlay {
  width: auto;
  height: 10px;
  position: absolute;
  z-index: 99;
  left: 10px;
  top: 2%;
  opacity: 1;
  background-color: black;
  color: #fff;
}
.watch-card {
  background-color: var(--ion-card-color);
}

.small-title,
.small-subtitle {
  padding-top: 0px !important;
  font-size: 1rem; /* Adjust the font size as needed */
  color: var(--ion-text-color);
}

.small-card {
  height: 180px;
  width: 230px;
  padding: 10px; /* Adjust the padding as needed */
  margin: 10px; /* Adjust the margin as needed */
  border-radius: 5px; /* Adjust the border radius as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjust the box shadow as needed */

  background-color: var(--ion-card-color);
}
.watch-slide-anchor {
  text-decoration: none;
}
